
.container {
   width: 1460px;
   height: 650px;
   background-color: #C2EFD4;
   margin: 10px;
   padding: 10px;
   
}

div h1 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #224F34;
    
    
}
 
img {
    float: right;
}

div article h2{
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

div article .small-text{
    text-align: center;
}

.second-box {
    width: 1500px;
    height: 449px;
    background-color: #C2EFD4;
}

.second-box img {
    float: left;
    size: 20px;
}

